.mg-transaction-mode {
	display: inline-flex;
	line-height: 2.5em;
	color: #454545;
	background: #e5e5e5;
	border-radius: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	margin: -.25em 0;
	cursor: inherit !important;
	white-space: nowrap;
	max-width: 100%;
}

.mg-transaction-mode>span {
	margin: 0 1em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mg-transaction-mode.mg-capture {
	background: #d4edda;
	color: #155724;
}

.mg-transaction-mode.mg-authorize {
	background: #b8daff;
	color: #004085;
}

.mg-transaction-mode.mg-captured {
	background: #fff3cd;
	color: #856404;
}

.mg-transaction-mode.mg-partially_refunded {
	color: #0c5460;
	background-color: #d1ecf1;
}

.mg-transaction-mode.mg-refunded {
	color: #1b1e21;
	background-color: #d6d8d9;
}

.mg-transaction-mode.mg-void {
	color: #721c24;
	background-color: #f8d7da;
}

.woocommerce table.form-table input[type="text"],
.woocommerce table.form-table input[type="password"] {
	width: 500px;
}

.woocommerce table.form-table .webhook_wrap {
	position: relative;
	width: max-content;
}

.woocommerce table.form-table .webhook_wrap .dashicons-admin-page {
	position: absolute;
	top: 7px;
	right: 6px;
	color: #666;
	cursor: pointer;
}

.woocommerce table.form-table tr td input.regular-input {
	min-height: 33px;
	width: 500px;
}

.woocommerce table.form-table tr td textarea {
	max-width: 500px;
	height: 120px;
}

.woocommerce table.form-table tr td select {
	max-width: 500px;
	width: 500px;
}

.error-container {
	color: red;
	margin-top: 5px;
	font-weight: normal;
}

body.woocommerce-admin-page {
	background: #f0f0f1 !important;
}

.woocommerce.wrap h2 {
	font-size: 1.2em;
	font-weight: 600;
	margin: 1em 0;
	display: flex;
	align-items: center;
}

.woocommerce.wrap .notice a,
.woocommerce.wrap p a {
	color: #2271b1 !important;
}

.woocommerce table.form-table th label {
	font-weight: 700;
}

.woocommerce_page_wc-settings h3.wc-settings-sub-title {
	font-weight: 600;
}

.error-message{
	font-weight: 400;
	margin-top: 4px;
}
.req-input{
	color: #FF0000;
}
